.legendContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%; /* or a percentage like 100% */
    height: 70vh; /* Set a height to control the size */
    
}
.legendContainer img{
    height: 80%;
    width: 100%;
    object-fit: contain;
}
@media only screen and (max-width: 600px) {
    .legendContainer{
        height: 30vh
    }
  }