.weaponContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%; /* or a percentage like 100% */
    height: 30vh; /* Set a height to control the size */
}

.weaponContainer img{
    height: 70%;
    width: 100%;
    object-fit: contain;

    
}
@media only screen and (max-width: 600px) {
    .weaponContainer{
        height: 10vh;
    }
  }
